<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Displaying Webpage Data</h1>
        <table border="1px">
            <tr>
                <h3><th>Topic Name</th></h3>
                <h3><th>Name</th></h3>
                <h3><th>URL</th></h3>
            </tr>
            {% for i in WP %}
                <tr>
                    <h3><td>{{i.topic_name}}</td></h3>
                    <h3><td>{{i.name}}</td></h3>
                    <h3><td>{{i.url}}</td></h3>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>